extends layout

include mixins/_map

block content
  .container
    .mb-3.card
      img.card-img-top(src=`/uploads/${store.photo || 'store.png'}`)
      .card-body
        h5.fs-0 #{store.name}
        p.mb-0= store.address
    .no-gutters.row
      .pr-lg-2.col-lg-12
        .card
          .card-body
            p= store.description
            if store.tags
              each tag in store.tags
                a.badge.bg-light.text-primary(href=`/tags/${tag}`) ##{tag}
            if user
              .reservation-form
                h3 Make a Reservation
                form(action="/reservations" method="POST")
                  input(type="hidden" name="storeId" value=store._id)
                  .mb-3
                    label(for="date" class="form-label") Date
                    input(class="form-control" type="date" name="date" required)
                  .mb-3
                    label(for="timeSlot" class="form-label") Time Slot
                    select(class="form-control" name="timeSlot[start]" required)
                      each slot in store.timeSlots
                        option(value=slot.start) #{slot.start}
                    select(class="form-control" name="timeSlot[end]" required)
                      each slot in store.timeSlots
                        option(value=slot.end) #{slot.end}
          button(type="submit" class="btn btn-primary") Reserve
    .mb-5
      +map(`map-${store._id}`, store.latitude, store.longitude, store.name, store.rating)